body {
  background: rgb(40, 40, 241);
  font: normal 15pt Arial;
}

header {
 color: white;
  text-align: center;
}

section {
 background: white;
 border-radius: 10px;
 padding: 15px;
 width: 500px;
 margin: auto;
 box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.432);
}

footer {
  color: white;
  text-align: center;
  font-style: italic;
}

img {
  width: 250px;
  height: 250px;
}